* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

/* --- momentum-scrolling --- */
.momentum-scrolling {
    -webkit-overflow-scrolling: touch
}
.momentum-scrolling > * {
    -webkit-transform: translateZ(0)
}
