/* # App mode settings */

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    box-sizing: border-box;
}

/* ## avoid scroll */
html,body {
    overflow: hidden;
    height: 100%;
}


/* # App mode - iOS hacks */

/* ## prevent text size change on orientation change */
html {
    -webkit-text-size-adjust: 100%;
}

/* ## momentum-scrolling */
.momentum-scrolling {
    -webkit-overflow-scrolling: touch;
}
.momentum-scrolling > * {
    -webkit-transform: translateZ(0);
}

